{% extends "stalkmarket/base.html" %}
{% block content %}
<div class="col-md-12">
    <div class='row'>
        <div class='col-md-6'>
            <h1>Stalk Market</h1>
        </div>
        <div class='col-md-6 right-align'>
            <a class="btn btn-secondary" href="{% url 'post-stalk' %}" role="button">Post Stalk Price</a>
        </div>
    </div>
    <table id="myTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="th-sm" onclick="sortTable(0)"><a href="#" class='sort-by'>Time Posted</a></th>
            <th class='th-sm' onclick="sortTable(1)"><a href="#" class='sort-by'>Stalk Price</a></th>
            <th class='th-sm' onclick="sortTable(2)"><a href="#" class='sort-by'>User</a></th>
            <th class='th-sm' onclick="sortTable(3)"><a href="#" class='sort-by'>Dodo Code</a></th>
          </tr>
        </thead>
        <tbody>
            {% for post in stalk_list %}
            <tr>
                <td>{{post.pub_time|date:"g:i a"}}</td>
                <td>{{post.price}}</td>
                <td>{{post.user}}</td>
                <td>{{post.DodoCode}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function sortTable(n) {
          var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
          table = document.getElementById("myTable");
          switching = true;
          // Set the sorting direction to ascending:
          dir = "asc";
          /* Make a loop that will continue until
          no switching has been done: */
          while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
              // Start by saying there should be no switching:
              shouldSwitch = false;
              /* Get the two elements you want to compare,
              one from current row and one from the next: */
              x = rows[i].getElementsByTagName("TD")[n];
              y = rows[i + 1].getElementsByTagName("TD")[n];
              /* Check if the two rows should switch place,
              based on the direction, asc or desc: */
              if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                  // If so, mark as a switch and break the loop:
                  shouldSwitch = true;
                  break;
                }
              } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                  // If so, mark as a switch and break the loop:
                  shouldSwitch = true;
                  break;
                }
              }
            }
            if (shouldSwitch) {
              /* If a switch has been marked, make the switch
              and mark that a switch has been done: */
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
              // Each time a switch is done, increase this count by 1:
              switchcount ++;
            } else {
              /* If no switching has been done AND the direction is "asc",
              set the direction to "desc" and run the while loop again. */
              if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
              }
            }
          }
        }
        </script>
</div>
{% endblock content %}