body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
.right-align {
  text-align: right;
}

th { 
  background-color: #5f788a;
  cursor: pointer;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #ffffff;
  font-weight: 400;
	text-decoration: none;
}
th a,
td a { 
	display: block;
	width: 100%;
}
th a.sort-by { 
	padding-right: 18px;
	position: relative;
}

a.sort-by:before,
a.sort-by:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}
a.sort-by:before {
	border-bottom-color: #ffffff;
	margin-top: -9px;
}
a.sort-by:after {
	border-top-color: #ffffff;
	margin-top: 1px;
}

.main-container{
  padding-bottom: 2.5rem;
}

.footer {
  position: absolute;
  background-color: #5f788a;
  width: 100%;
  bottom: 0;
  height: 2.5rem;         
}

.center-children {
  text-align: center;
}

.center-children a {
  color: #cbd5db;
  line-height: 2.5rem;
  padding-right: 1rem;
  padding-left: 1rem;  
}